@import "varibles";

.load{
  display: none;
  transition: 0.5s none;
  &--active {
    display: block;
    position: absolute;
    top: 0;
    width: 100%;
    height: 100vh;
    background-color: white;

  }
  &__wrap{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
  }

  &__text{
    padding: 0 0 20px;
  }
}



.square {
  width: 30px;
  height: 30px;
  border-radius: 4px;
  background-color: $light-blue;
  animation: loading 1.5s cubic-bezier(0.11, 0.37, 0.43, 0.1) infinite;
}
@keyframes loading {
  0% {
    transform: translate(0, 0) rotate(0deg);
  }
  50% {
    transform: translate(30px, 0) rotate(90deg);
  }
  100% {
    transform: translate(0, 0) rotate(0deg);
  }
}
