//fonts
@font-face {
  font-family: "Jost-medium";
  src: url('../../assets/fonts/Jost-500-Medium.ttf');

}

//colors
$light-blue: #d0eaff;

//breakpoints
$sm: 576px;
$md: 768px;
$lg: 992px;
$xl: 1200px;
$xxl: 1920px;

